body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: scroll; */
  }
 
  .bg-dark {
    background-color: #002040 !important;
  }
  
  .text-light {
    color: #ffffff !important;
  }